body{
background-image: url(https://cdna.artstation.com/p/assets/images/images/029/533/658/original/fernando-henrique-santamarta-final-optmized.gif?1597854013);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
color: white;
font-family: Arial;
font-size: 20px;
margin: 0 auto;
padding: 10px;
}

header{
display: flex;
text-align: center;
justify-content: space-between;
color: white;
}

h1{
background-color: lightgrey;
color: black;
border: 5px black outset;
border-radius: 10px;
line-height: 38px;
border-radius: 20px;
padding: 30px;
animation: blink;
}



span{
 animation: animate 5.5s linear infinite;
}

        @keyframes animate {
            0% {
                opacity: 0;
            }
  
            50% {
                opacity: 0.7;
            }
  
            100% {
                opacity: 0;
            }
        }

#caixa-dialogo {
	margin-top: 20%;
	color: white;
	border-radius: 10px;
	width: 90%;
	height: 180px;
	border: 3px solid; white;
	padding: 10px;
	background-color: black;
}

#nome-personagem {
	font-weight: bold;
}

#texto-dialogo {
	margin-top: 10px;
	font-family: ＭＳ Ｐゴシック;
	font-size: 22px;
}

.botao-dialogo {
		font-family: ＭＳ Ｐゴシック;
	border-radius: 5px;
	transform: scale(1.6);
	margin: 25px;
	margin-top: 10px;
	display: none; /* Esconde os botões inicialmente */
	padding: 10px;
	background-color: #ddd;
	border: none;
	cursor: pointer;
}

.botao-dialogo:hover {
	background-color: #ccc;
}

.imagem-personagem {
	transform: scale(2.7);
	margin-left: 30px;
	width: 100px;
	height: 100px;
	display: none;
}

.dialogo-personagem {
	display: flex;
	align-items: center;
	gap: 10px;
	border: none;
}

.dialogo-personagem.esquerda {
	flex-direction: row;
}

.dialogo-personagem.direita {
	flex-direction: row-reverse;
	text-align: right;

	
}

.imagem-fundo {
    position: absolute;
    transform: scale(0.5);
    top: 0;
    margin-left: -125px;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#imagem-fundo-esquerda {
    left: 0;
    background-image: url('https://i.imgur.com/xzip5oB.png');

}

#imagem-fundo-direita {
    right: 0;
    background-image: url('https://i.imgur.com/Ttt86eU.png');
    transform: scale(0.5);

}
